*, ::before, ::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: linear-gradient(
        45deg, 
    #16aa6c 0%, 
    #0e9235 25%, 
    #19a6b8 50%, 
    #9517d8 75%, 
    #4b1966 100%);;
}
.spotify {
    position: relative;
    margin: 20px auto;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #1db954;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.bar {
    position: absolute;
    width: 320px;
    height: 200px;
    border-radius: 50%;
    border: 30px solid #000000;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(8deg) scale(.7);
}
.bar-dark {
    top: 20px;
    left: -40px;
}
.bar-dark::before,
.bar-dark::after {
    background: #000000;
}
.bar-med {
    top: 53px;
    left: -44px;
    transform: rotate(8deg) scale(.6);
    border-top-color: #000000;
}
.bar-med::before,
.bar-med::after {
    background: #000000;
}
.bar-light {
    top: 80px;
    left: -49px;
    transform: rotate(8deg) scale(.5);
    border-top-color: #000000;
}
.bar-light::before,
.bar-light::after {
    background: #000000;
}
.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    border-radius: 50%;
}
.bar::before {
    top: 0px;
    left: 5px;
}
.bar::after {
    top: 1px;
    right: 4px;
}
